body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0px;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("https://beewol.files.wordpress.com/2015/04/global.jpg");
  opacity: 0.96;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.header {
  padding: 1em;
}

.map-selected {
  fill: #E3DA37;
}

.map-unselected {
  fill: #699EAA;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

#popup-btn {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	padding:7px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#popup-btn:hover {
	background-color:#5cbf2a;
}
#popup-btn:active {
	position:relative;
	top:1px;
}

.leaflet-popup-content {
  color: gray;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 0;
  margin-left: 0;
  overflow-y: scroll;
  height: 150px;
}

#leaflet-header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.2em;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

#flight-number {
  margin-top: 0.6em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.6em;
  font-weight: bolder;
}

p {
  font-family: arial;
  font-family: 'Work Sans', sans-serif;
}

.airport-code {
  font-size: 1.2em;
}

#flight-times {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.4em;
}

#aircraft {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-style: italic;
}

#flight-status {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  font-size: 1.4em;
  color: green;
  font-weight: bolder;
}

#flight-status-cancelled {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  font-size: 1.2em;
  color: red;
  font-weight: bolder;
}

#flight-popup {
  width: 115px;
}

#flight-num {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: bolder;
}

#flight-aircraft {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
  font-style: italic;
}

#flight-speed {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#flight-alt {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#flight-dep {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#flight-arr {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#modalTitle {
  font-family: 'Work Sans', sans-serif;

}

#airport-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
}

#airport-phone {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
}

#website-btn {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
