body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0px;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("https://beewol.files.wordpress.com/2015/04/global.jpg");
  opacity: 0.96;
}

.header {
  padding: 1em;
}

.map-selected {
  fill: #E3DA37;
}

.map-unselected {
  fill: #699EAA;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

.leaflet-popup-content {
  color: gray;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 0;
  margin-left: 0;
  overflow-y: scroll;
  height: 150px;
}

#leaflet-header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.2em;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

#flight-number {
  margin-top: 0.6em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.6em;
  font-weight: bolder;
}

p {
  font-family: arial;
  font-family: 'Work Sans', sans-serif;
}

.airport-code {
  font-size: 1.2em;
}

#flight-times {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.4em;
}

#aircraft {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-style: italic;
}

#flight-status {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  font-size: 1.4em;
  color: green;
  font-weight: bolder;
}

#flight-status-cancelled {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  font-size: 1.2em;
  color: red;
  font-weight: bolder;
}

#flight-num {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: bolder;
}

#flight-aircraft {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
  font-style: italic;
}

#flight-speed {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#flight-alt {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#flight-dep {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#flight-arr {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 1.3em;
}

#airport-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

#airport-code {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

#airport-distance {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  margin-top: 0;
  font-style: italic;
  margin-bottom: 0;
}

.favorites-btn {
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #00A6FF;
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.favorites-btn:hover {
  color: #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}
